In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
from pyspark.sql.functions import sum,avg,max,count

In [3]:
spark = SparkSession.builder.master("local[*]").appName("Datamanipulation").getOrCreate()

In [4]:
spark

In [5]:
# read our data - lives in a csv file

df = spark.read.option("header","true").csv("\\Users\\Mohammad Dayyat\\pyspark\\Sample - EU Superstore.csv")

In [6]:
# how many rows of the EU Superstore dataset have the country being France
data = df.filter(df["Country"] == "France")
data.count()

2827

In [7]:
# of those, how many are profitable?
data.filter(df["Profit"] > 0).count()

2277

In [8]:
# how any different discount brackets exist? what are they?
dis_set = df.select(["Discount"]).distinct()
dis_set.count()
dis_set.show()

+--------+
|Discount|
+--------+
|     0.3|
|     0.7|
|       0|
|     0.2|
|    0.15|
|    0.35|
|     0.8|
|    0.45|
|     0.5|
|    0.65|
|     0.6|
|     0.1|
|    0.85|
|     0.4|
+--------+

In [9]:
# let's see the totl profit by discount bracket, make sure they are ordered by 
df.groupBy("Discount").agg({'Profit': 'sum'}).orderBy('sum(Profit)').show()

+--------+-------------------+
|Discount|        sum(Profit)|
+--------+-------------------+
|     0.5|         -96632.115|
|     0.4|-21346.427999999996|
|     0.6|-20517.456000000002|
|    0.35|          -9122.649|
|    0.65| -6221.965499999999|
|     0.7|          -5496.765|
|    0.85|          -3068.658|
|    0.45|         -1103.1915|
|     0.3| -758.4209999999999|
|     0.8|           -460.284|
|     0.2| 2189.5499999999984|
|    0.15| 24677.563499999975|
|     0.1|  126884.0309999999|
|       0| 383806.53000000026|
+--------+-------------------+

In [10]:
# what is the value after which we should stop offering discount?

## The value of discount is (0.2) after that the profit will be less than zero

In [11]:
# who are the top 5 most profitable customers
cust_profit = df.groupBy(["Customer ID","Customer Name"]).agg({'Profit': 'sum'}).orderBy('Sum(Profit)',ascending = False)
cust_profit.show(5)

+-----------+-----------------+------------------+
|Customer ID|    Customer Name|       sum(Profit)|
+-----------+-----------------+------------------+
|   SP-20920|     Susan Pistek| 4974.512999999999|
|   PJ-18835|    Patrick Jones|3986.0039999999995|
|   PO-18865|Patrick O'Donnell|          3778.197|
|   EB-13840|    Ellis Ballard|           3459.66|
|   MG-18145|  Mike Gockenbach|3144.4439999999995|
+-----------+-----------------+------------------+
only showing top 5 rows

In [14]:
# get all the rows belonging to those 5 customer names: hint, you may need the collect method - how many rows are they?
cust_profit.collect()

[Row(Customer ID='SP-20920', Customer Name='Susan Pistek', sum(Profit)=4974.512999999999),
 Row(Customer ID='PJ-18835', Customer Name='Patrick Jones', sum(Profit)=3986.0039999999995),
 Row(Customer ID='PO-18865', Customer Name="Patrick O'Donnell", sum(Profit)=3778.197),
 Row(Customer ID='EB-13840', Customer Name='Ellis Ballard', sum(Profit)=3459.66),
 Row(Customer ID='MG-18145', Customer Name='Mike Gockenbach', sum(Profit)=3144.4439999999995),
 Row(Customer ID='ER-13855', Customer Name='Elpida Rittenbach', sum(Profit)=2899.806),
 Row(Customer ID='LB-16795', Customer Name='Laurel Beltran', sum(Profit)=2892.7170000000006),
 Row(Customer ID='RB-19330', Customer Name='Randy Bradley', sum(Profit)=2864.601),
 Row(Customer ID='JH-15820', Customer Name='John Huston', sum(Profit)=2860.1024999999995),
 Row(Customer ID='MS-17770', Customer Name='Maxwell Schwartz', sum(Profit)=2795.88),
 Row(Customer ID='BV-11245', Customer Name='Benjamin Venier', sum(Profit)=2761.2719999999995),
 Row(Customer ID='JB-16000', Customer Name='Joy Bell-', sum(Profit)=2754.18),
 Row(Customer ID='ON-18715', Customer Name='Odella Nelson', sum(Profit)=2732.0370000000003),
 Row(Customer ID='KN-16390', Customer Name='Katherine Nockton', sum(Profit)=2729.577),
 Row(Customer ID='JG-15160', Customer Name='James Galang', sum(Profit)=2718.725999999999),
 Row(Customer ID='HM-14860', Customer Name='Harry Marie', sum(Profit)=2385.405),
 Row(Customer ID='AM-10360', Customer Name='Alice McCarthy', sum(Profit)=2375.502),
 Row(Customer ID='DL-13315', Customer Name='Delfina Latchford', sum(Profit)=2243.4645000000014),
 Row(Customer ID='EB-14110', Customer Name='Eugene Barchas', sum(Profit)=2169.042),
 Row(Customer ID='SE-20110', Customer Name='Sanjit Engle', sum(Profit)=2139.3990000000003),
 Row(Customer ID='VP-21760', Customer Name='Victoria Pisteka', sum(Profit)=2056.299),
 Row(Customer ID='AR-10825', Customer Name='Anthony Rawles', sum(Profit)=1978.1700000000005),
 Row(Customer ID='BP-11155', Customer Name='Becky Pak', sum(Profit)=1971.9210000000005),
 Row(Customer ID='CW-11905', Customer Name='Carl Weiss', sum(Profit)=1956.3509999999994),
 Row(Customer ID='KC-16675', Customer Name='Kimberly Carter', sum(Profit)=1941.8669999999995),
 Row(Customer ID='RA-19285', Customer Name='Ralph Arnett', sum(Profit)=1934.3010000000002),
 Row(Customer ID='MM-18055', Customer Name='Michelle Moray', sum(Profit)=1930.458),
 Row(Customer ID='BH-11710', Customer Name='Brosina Hoffman', sum(Profit)=1928.6760000000002),
 Row(Customer ID='DK-13090', Customer Name='Dave Kipp', sum(Profit)=1927.284),
 Row(Customer ID='CM-11830', Customer Name='Cari MacIntyre', sum(Profit)=1844.3235000000006),
 Row(Customer ID='EM-14065', Customer Name='Erin Mull', sum(Profit)=1837.3319999999999),
 Row(Customer ID='BE-11410', Customer Name='Bobby Elias', sum(Profit)=1821.6870000000004),
 Row(Customer ID='TZ-21580', Customer Name='Tracy Zic', sum(Profit)=1809.2160000000001),
 Row(Customer ID='AM-10705', Customer Name='Anne McFarland', sum(Profit)=1797.7530000000002),
 Row(Customer ID='JW-16075', Customer Name='Julia West', sum(Profit)=1732.7115000000003),
 Row(Customer ID='NF-18475', Customer Name='Neil Französisch', sum(Profit)=1728.906),
 Row(Customer ID='PO-18850', Customer Name="Patrick O'Brill", sum(Profit)=1708.3709999999999),
 Row(Customer ID='RF-19840', Customer Name='Roy Französisch', sum(Profit)=1701.606),
 Row(Customer ID='LT-16765', Customer Name='Larry Tron', sum(Profit)=1701.3255),
 Row(Customer ID='BW-11110', Customer Name='Bart Watters', sum(Profit)=1686.2220000000002),
 Row(Customer ID='AG-10495', Customer Name='Andrew Gjertsen', sum(Profit)=1669.5525),
 Row(Customer ID='CB-12415', Customer Name='Christy Brittain', sum(Profit)=1653.768),
 Row(Customer ID='TH-21100', Customer Name='Thea Hendricks', sum(Profit)=1603.5270000000003),
 Row(Customer ID='JB-15400', Customer Name='Jennifer Braxton', sum(Profit)=1598.8275),
 Row(Customer ID='EM-14095', Customer Name='Eudokia Martin', sum(Profit)=1582.482),
 Row(Customer ID='SC-20095', Customer Name='Sanjit Chand', sum(Profit)=1572.057),
 Row(Customer ID='AT-10435', Customer Name='Alyssa Tate', sum(Profit)=1570.788),
 Row(Customer ID='BC-11125', Customer Name='Becky Castell', sum(Profit)=1567.0410000000002),
 Row(Customer ID='YC-21895', Customer Name='Yoseph Carroll', sum(Profit)=1556.4584999999997),
 Row(Customer ID='DK-12835', Customer Name='Damala Kotsonis', sum(Profit)=1549.83),
 Row(Customer ID='FO-14305', Customer Name='Frank Olsen', sum(Profit)=1542.9869999999996),
 Row(Customer ID='CA-12265', Customer Name='Christina Anderson', sum(Profit)=1505.3925),
 Row(Customer ID='MW-18220', Customer Name='Mitch Webber', sum(Profit)=1505.1570000000002),
 Row(Customer ID='KD-16495', Customer Name='Keith Dawkins', sum(Profit)=1496.4675),
 Row(Customer ID='TH-21235', Customer Name='Tiffany House', sum(Profit)=1493.6849999999997),
 Row(Customer ID='BE-11335', Customer Name='Bill Eplett', sum(Profit)=1488.3330000000003),
 Row(Customer ID='BT-11395', Customer Name='Bill Tyler', sum(Profit)=1481.3070000000002),
 Row(Customer ID='AH-10210', Customer Name='Alan Hwang', sum(Profit)=1478.2785),
 Row(Customer ID='JF-15565', Customer Name='Jill Fjeld', sum(Profit)=1471.737),
 Row(Customer ID='CK-12205', Customer Name='Chloris Kastensmidt', sum(Profit)=1464.4920000000002),
 Row(Customer ID='JP-15520', Customer Name='Jeremy Pistek', sum(Profit)=1458.174),
 Row(Customer ID='MY-17380', Customer Name='Maribeth Yedwab', sum(Profit)=1449.807),
 Row(Customer ID='EG-13900', Customer Name='Emily Grady', sum(Profit)=1447.713),
 Row(Customer ID='MF-18250', Customer Name='Monica Federle', sum(Profit)=1444.2809999999997),
 Row(Customer ID='NP-18670', Customer Name='Nora Paige', sum(Profit)=1444.014),
 Row(Customer ID='MR-17545', Customer Name='Mathew Reese', sum(Profit)=1440.0255),
 Row(Customer ID='CS-11860', Customer Name='Cari Schnelling', sum(Profit)=1439.7255),
 Row(Customer ID='AW-10930', Customer Name='Arthur Wiediger', sum(Profit)=1424.454),
 Row(Customer ID='CS-12460', Customer Name='Chuck Sachs', sum(Profit)=1414.9350000000002),
 Row(Customer ID='DB-13660', Customer Name='Duane Benoit', sum(Profit)=1401.9840000000002),
 Row(Customer ID='BS-11365', Customer Name='Bill Shonely', sum(Profit)=1397.3249999999998),
 Row(Customer ID='JC-15385', Customer Name='Jenna Caffey', sum(Profit)=1390.29),
 Row(Customer ID='GZ-14470', Customer Name='Gary Zandusky', sum(Profit)=1355.5394999999996),
 Row(Customer ID='CC-12145', Customer Name='Charles Crestani', sum(Profit)=1353.558),
 Row(Customer ID='ES-14020', Customer Name='Erica Smith', sum(Profit)=1337.3204999999998),
 Row(Customer ID='EH-14125', Customer Name='Eugene Hildebrand', sum(Profit)=1334.6924999999997),
 Row(Customer ID='AB-10165', Customer Name='Alan Barnes', sum(Profit)=1322.793),
 Row(Customer ID='GG-14650', Customer Name='Greg Guthrie', sum(Profit)=1318.7040000000002),
 Row(Customer ID='TA-21385', Customer Name='Tom Ashbrook', sum(Profit)=1318.443),
 Row(Customer ID='DB-12910', Customer Name='Daniel Byrd', sum(Profit)=1314.876),
 Row(Customer ID='MY-18295', Customer Name='Muhammed Yedwab', sum(Profit)=1314.7830000000001),
 Row(Customer ID='EB-13975', Customer Name='Erica Bern', sum(Profit)=1314.546),
 Row(Customer ID='RB-19570', Customer Name='Rob Beeghly', sum(Profit)=1300.7760000000003),
 Row(Customer ID='BP-11290', Customer Name='Beth Paige', sum(Profit)=1296.438),
 Row(Customer ID='MT-18070', Customer Name='Michelle Tran', sum(Profit)=1291.8735000000001),
 Row(Customer ID='CD-12790', Customer Name='Cynthia Delaney', sum(Profit)=1290.3645),
 Row(Customer ID='CM-12115', Customer Name='Chad McGuire', sum(Profit)=1287.8400000000001),
 Row(Customer ID='AG-10300', Customer Name='Aleksandra Gannaway', sum(Profit)=1280.5980000000002),
 Row(Customer ID='SR-20740', Customer Name='Steven Roelle', sum(Profit)=1279.1999999999998),
 Row(Customer ID='QJ-19255', Customer Name='Quincy Jones', sum(Profit)=1275.0900000000001),
 Row(Customer ID='CD-11920', Customer Name='Carlos Daly', sum(Profit)=1273.3139999999996),
 Row(Customer ID='HJ-14875', Customer Name='Heather Jas', sum(Profit)=1264.6575000000005),
 Row(Customer ID='PS-19045', Customer Name='Penelope Sewall', sum(Profit)=1261.9215),
 Row(Customer ID='JM-15865', Customer Name='John Murray', sum(Profit)=1259.4285),
 Row(Customer ID='JH-16180', Customer Name='Justin Hirsh', sum(Profit)=1258.7699999999995),
 Row(Customer ID='SH-20635', Customer Name='Stefanie Holloman', sum(Profit)=1254.8025000000002),
 Row(Customer ID='DJ-13420', Customer Name='Denny Joy', sum(Profit)=1245.522),
 Row(Customer ID='LR-17035', Customer Name='Lisa Ryan', sum(Profit)=1231.881),
 Row(Customer ID='RD-19480', Customer Name='Rick Duston', sum(Profit)=1223.1225000000002),
 Row(Customer ID='LE-16810', Customer Name='Laurel Elliston', sum(Profit)=1216.11),
 Row(Customer ID='MP-17470', Customer Name='Mark Packer', sum(Profit)=1209.0179999999998),
 Row(Customer ID='TW-21025', Customer Name='Tamara Willingham', sum(Profit)=1203.135),
 Row(Customer ID='PW-19030', Customer Name='Pauline Webber', sum(Profit)=1200.804),
 Row(Customer ID='MS-17530', Customer Name='MaryBeth Skach', sum(Profit)=1200.6270000000002),
 Row(Customer ID='LD-16855', Customer Name='Lela Donovan', sum(Profit)=1194.2490000000003),
 Row(Customer ID='SV-20785', Customer Name='Stewart Visinsky', sum(Profit)=1189.704),
 Row(Customer ID='RD-19585', Customer Name='Rob Dowd', sum(Profit)=1185.8519999999999),
 Row(Customer ID='SW-20245', Customer Name='Scot Wooten', sum(Profit)=1183.4805000000001),
 Row(Customer ID='BD-11560', Customer Name='Brendan Dodson', sum(Profit)=1175.22),
 Row(Customer ID='JF-15295', Customer Name='Jason Fortune-', sum(Profit)=1174.4999999999998),
 Row(Customer ID='AR-10510', Customer Name='Andrew Roberts', sum(Profit)=1173.99),
 Row(Customer ID='LO-17170', Customer Name='Lori Olson', sum(Profit)=1171.365),
 Row(Customer ID='CH-12070', Customer Name='Cathy Hwang', sum(Profit)=1169.604),
 Row(Customer ID='JL-15235', Customer Name='Janet Lee', sum(Profit)=1160.8890000000001),
 Row(Customer ID='GK-14620', Customer Name='Grace Kelly', sum(Profit)=1147.6470000000004),
 Row(Customer ID='LR-16915', Customer Name='Lena Radford', sum(Profit)=1143.369),
 Row(Customer ID='MM-18280', Customer Name='Muhammed MacIntyre', sum(Profit)=1142.748),
 Row(Customer ID='JG-15805', Customer Name='John Grady', sum(Profit)=1132.3500000000001),
 Row(Customer ID='RD-19720', Customer Name='Roger Demir', sum(Profit)=1130.43),
 Row(Customer ID='AB-10015', Customer Name='Aaron Bergman', sum(Profit)=1122.8940000000002),
 Row(Customer ID='RW-19540', Customer Name='Rick Wilson', sum(Profit)=1120.4534999999998),
 Row(Customer ID='GT-14710', Customer Name='Greg Tran', sum(Profit)=1111.0079999999998),
 Row(Customer ID='KW-16435', Customer Name='Katrina Willman', sum(Profit)=1101.7199999999998),
 Row(Customer ID='JK-15640', Customer Name='Jim Kriz', sum(Profit)=1088.655),
 Row(Customer ID='RS-19765', Customer Name='Roland Schwarz', sum(Profit)=1077.102),
 Row(Customer ID='RF-19345', Customer Name='Randy Ferguson', sum(Profit)=1069.5900000000001),
 Row(Customer ID='ML-17755', Customer Name='Max Ludwig', sum(Profit)=1062.8085),
 Row(Customer ID='CC-12370', Customer Name='Christopher Conant', sum(Profit)=1061.94),
 Row(Customer ID='PB-19210', Customer Name='Phillip Breyer', sum(Profit)=1060.641),
 Row(Customer ID='LA-16780', Customer Name='Laura Armstrong', sum(Profit)=1053.8010000000002),
 Row(Customer ID='AY-10555', Customer Name='Andy Yotov', sum(Profit)=1041.768),
 Row(Customer ID='AB-10060', Customer Name='Adam Bellavance', sum(Profit)=1020.0659999999999),
 Row(Customer ID='AB-10150', Customer Name='Aimee Bixby', sum(Profit)=1009.512),
 Row(Customer ID='KD-16270', Customer Name='Karen Daniels', sum(Profit)=1003.9005000000001),
 Row(Customer ID='JB-15925', Customer Name='Joni Blumstein', sum(Profit)=1003.5870000000001),
 Row(Customer ID='NZ-18565', Customer Name='Nick Zandusky', sum(Profit)=1002.7440000000003),
 Row(Customer ID='JF-15415', Customer Name='Jennifer Ferguson', sum(Profit)=995.7779999999999),
 Row(Customer ID='DK-13150', Customer Name='David Kendrick', sum(Profit)=983.4090000000001),
 Row(Customer ID='AH-10030', Customer Name='Aaron Hawkins', sum(Profit)=981.5939999999999),
 Row(Customer ID='DW-13480', Customer Name='Dianna Wilson', sum(Profit)=979.2660000000002),
 Row(Customer ID='BD-11770', Customer Name='Bryan Davis', sum(Profit)=977.709),
 Row(Customer ID='JK-15730', Customer Name='Joe Kamberova', sum(Profit)=970.7760000000001),
 Row(Customer ID='EB-13930', Customer Name='Eric Barreto', sum(Profit)=970.2990000000001),
 Row(Customer ID='DB-13615', Customer Name='Doug Bickford', sum(Profit)=968.4870000000001),
 Row(Customer ID='RB-19360', Customer Name='Raymond Buch', sum(Profit)=967.734),
 Row(Customer ID='BF-11170', Customer Name='Ben Ferrer', sum(Profit)=965.361),
 Row(Customer ID='RR-19525', Customer Name='Rick Reed', sum(Profit)=965.034),
 Row(Customer ID='FH-14350', Customer Name='Fred Harton', sum(Profit)=964.6395),
 Row(Customer ID='MF-17665', Customer Name='Maureen Fritzler', sum(Profit)=955.347),
 Row(Customer ID='MS-17980', Customer Name='Michael Stewart', sum(Profit)=953.5350000000001),
 Row(Customer ID='RD-19660', Customer Name='Robert Dilbeck', sum(Profit)=949.1970000000002),
 Row(Customer ID='HE-14800', Customer Name='Harold Engle', sum(Profit)=948.48),
 Row(Customer ID='AJ-10945', Customer Name='Ashley Jarboe', sum(Profit)=945.831),
 Row(Customer ID='GH-14410', Customer Name='Gary Hansen', sum(Profit)=934.5284999999998),
 Row(Customer ID='SJ-20215', Customer Name='Sarah Jordon', sum(Profit)=934.473),
 Row(Customer ID='JO-15145', Customer Name="Jack O'Briant", sum(Profit)=928.9080000000001),
 Row(Customer ID='SL-20155', Customer Name='Sara Luxemburg', sum(Profit)=928.0559999999999),
 Row(Customer ID='JM-15250', Customer Name='Janet Martin', sum(Profit)=925.518),
 Row(Customer ID='YS-21880', Customer Name='Yana Sorensen', sum(Profit)=925.38),
 Row(Customer ID='ME-17320', Customer Name='Maria Etezadi', sum(Profit)=921.846),
 Row(Customer ID='AF-10885', Customer Name='Art Foster', sum(Profit)=921.4800000000001),
 Row(Customer ID='SC-20725', Customer Name='Steven Cartwright', sum(Profit)=921.3719999999998),
 Row(Customer ID='ML-18040', Customer Name='Michelle Lonsdale', sum(Profit)=919.749),
 Row(Customer ID='AJ-10960', Customer Name='Astrea Jones', sum(Profit)=914.0745000000001),
 Row(Customer ID='DF-13135', Customer Name='David Flashing', sum(Profit)=912.3180000000001),
 Row(Customer ID='TG-21310', Customer Name='Toby Gnade', sum(Profit)=909.42),
 Row(Customer ID='LH-17155', Customer Name='Logan Haushalter', sum(Profit)=907.1910000000001),
 Row(Customer ID='MC-17605', Customer Name='Matt Connell', sum(Profit)=906.5099999999999),
 Row(Customer ID='AH-10120', Customer Name='Adrian Hane', sum(Profit)=905.5110000000002),
 Row(Customer ID='PR-18880', Customer Name='Patrick Ryan', sum(Profit)=899.598),
 Row(Customer ID='DB-13060', Customer Name='Dave Brooks', sum(Profit)=894.9030000000001),
 Row(Customer ID='GH-14665', Customer Name='Greg Hansen', sum(Profit)=892.0919999999999),
 Row(Customer ID='SP-20860', Customer Name='Sung Pak', sum(Profit)=891.5985),
 Row(Customer ID='CC-12610', Customer Name='Corey Catlett', sum(Profit)=878.478),
 Row(Customer ID='CC-12100', Customer Name='Chad Cunningham', sum(Profit)=873.0269999999999),
 Row(Customer ID='HM-14980', Customer Name='Henry MacAllister', sum(Profit)=871.746),
 Row(Customer ID='JC-15775', Customer Name='John Castell', sum(Profit)=866.469),
 Row(Customer ID='TS-21370', Customer Name='Todd Sumrall', sum(Profit)=859.6649999999998),
 Row(Customer ID='EM-14200', Customer Name='Evan Minnotte', sum(Profit)=858.03),
 Row(Customer ID='DJ-13510', Customer Name='Don Jones', sum(Profit)=854.4),
 Row(Customer ID='DL-13495', Customer Name='Dionis Lloyd', sum(Profit)=851.6430000000001),
 Row(Customer ID='BG-11740', Customer Name='Bruce Geld', sum(Profit)=849.3824999999998),
 Row(Customer ID='SA-20830', Customer Name='Sue Ann Reed', sum(Profit)=846.3059999999998),
 Row(Customer ID='RS-19870', Customer Name='Roy Skaria', sum(Profit)=835.4535000000002),
 Row(Customer ID='EH-13945', Customer Name='Eric Hoffmann', sum(Profit)=831.558),
 Row(Customer ID='LC-16960', Customer Name='Lindsay Castell', sum(Profit)=830.094),
 Row(Customer ID='HH-15010', Customer Name='Hilary Holden', sum(Profit)=829.9694999999999),
 Row(Customer ID='HA-14905', Customer Name='Helen Abelman', sum(Profit)=824.61),
 Row(Customer ID='HZ-14950', Customer Name='Henia Zydlo', sum(Profit)=821.8335),
 Row(Customer ID='CA-12055', Customer Name='Cathy Armstrong', sum(Profit)=815.619),
 Row(Customer ID='BP-11230', Customer Name='Benjamin Patterson', sum(Profit)=815.241),
 Row(Customer ID='ND-18460', Customer Name='Neil Ducich', sum(Profit)=811.5000000000001),
 Row(Customer ID='CR-12580', Customer Name='Clay Rozendal', sum(Profit)=809.1600000000001),
 Row(Customer ID='SR-20425', Customer Name='Sharelle Roach', sum(Profit)=806.2004999999999),
 Row(Customer ID='JM-15580', Customer Name='Jill Matthias', sum(Profit)=801.903),
 Row(Customer ID='FH-14365', Customer Name='Fred Hopkins', sum(Profit)=794.1764999999999),
 Row(Customer ID='DR-12940', Customer Name='Daniel Raglin', sum(Profit)=793.1895),
 Row(Customer ID='SS-20590', Customer Name='Sonia Sunley', sum(Profit)=791.8169999999998),
 Row(Customer ID='IG-15085', Customer Name='Ivan Gibson', sum(Profit)=790.665),
 Row(Customer ID='AH-10690', Customer Name='Anna Häberlin', sum(Profit)=790.0080000000002),
 Row(Customer ID='KL-16645', Customer Name='Ken Lonsdale', sum(Profit)=789.219),
 Row(Customer ID='CV-12805', Customer Name='Cynthia Voltz', sum(Profit)=787.671),
 Row(Customer ID='AO-10810', Customer Name="Anthony O'Donnell", sum(Profit)=786.6060000000001),
 Row(Customer ID='TB-21175', Customer Name='Thomas Boland', sum(Profit)=783.537),
 Row(Customer ID='DJ-13630', Customer Name='Doug Jacobs', sum(Profit)=781.737),
 Row(Customer ID='NG-18430', Customer Name='Nathan Gelder', sum(Profit)=779.049),
 Row(Customer ID='AR-10345', Customer Name='Alex Russell', sum(Profit)=771.624),
 Row(Customer ID='PS-18970', Customer Name='Paul Stevenson', sum(Profit)=769.8315000000001),
 Row(Customer ID='RA-19885', Customer Name='Ruben Ausman', sum(Profit)=763.4010000000001),
 Row(Customer ID='JP-15460', Customer Name='Jennifer Patt', sum(Profit)=760.3289999999998),
 Row(Customer ID='SB-20290', Customer Name='Sean Braxton', sum(Profit)=759.234),
 Row(Customer ID='MB-17305', Customer Name='Maria Bertelson', sum(Profit)=756.9029999999999),
 Row(Customer ID='SO-20335', Customer Name="Sean O'Donnell", sum(Profit)=755.31),
 Row(Customer ID='ND-18370', Customer Name='Natalie DeCherney', sum(Profit)=755.2394999999999),
 Row(Customer ID='MH-17785', Customer Name='Maya Herman', sum(Profit)=750.5640000000001),
 Row(Customer ID='TP-21130', Customer Name='Theone Pippenger', sum(Profit)=749.1329999999998),
 Row(Customer ID='BG-11035', Customer Name='Barry Gonzalez', sum(Profit)=747.36),
 Row(Customer ID='GH-14485', Customer Name='Gene Hale', sum(Profit)=741.3779999999999),
 Row(Customer ID='TT-21460', Customer Name='Tonja Turnell', sum(Profit)=740.769),
 Row(Customer ID='AT-10735', Customer Name='Annie Thurman', sum(Profit)=736.3829999999999),
 Row(Customer ID='JE-15715', Customer Name='Joe Elijah', sum(Profit)=734.3969999999999),
 Row(Customer ID='ML-18265', Customer Name='Muhammed Lee', sum(Profit)=731.1809999999999),
 Row(Customer ID='KD-16615', Customer Name='Ken Dana', sum(Profit)=730.5255),
 Row(Customer ID='JL-15130', Customer Name='Jack Lebron', sum(Profit)=727.413),
 Row(Customer ID='LC-16930', Customer Name='Linda Cazamias', sum(Profit)=722.967),
 Row(Customer ID='DB-13210', Customer Name='Dean Braden', sum(Profit)=720.5970000000001),
 Row(Customer ID='PJ-19015', Customer Name='Pauline Johnson', sum(Profit)=717.9390000000001),
 Row(Customer ID='JF-15190', Customer Name='Jamie Frazer', sum(Profit)=715.407),

In [15]:
cust_profit.count()

795

In [ ]:
# create a new column which is the value of the sale were there not discount applied. Hint: orginal = sales/(1-d)

In [16]:
df = df.withColumn("Orginal Value of Sale",df['Sales']/(1-df['Discount']))
df.show()

+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+---------------------+
|Row ID|       Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|         City|               State|       Country| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount| Profit|Orginal Value of Sale|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+---------------------+
|     1|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10000988|Office Supplies|     Storage|Fellowes Folders,...|    79.2|       3|       0|   39.6|                 79.2|
|     2|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004144|     Technology| Accessories|SanDisk Numeric K...|  388.92|       7|       0|      0|               388.92|
|     3|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-LA-10001915|Office Supplies|      Labels|Avery Legal Exhib...|   35.19|       3|       0|  16.11|                35.19|
|     4|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10004550|Office Supplies|     Storage|Fellowes Folders,...|   50.94|       2|       0|   13.2|                50.94|
|     5|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-AC-10004068|     Technology| Accessories|Memorex Memory Ca...|  307.44|       3|       0|  73.71|               307.44|
|     6|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|OFF-ST-10002271|Office Supplies|     Storage|Rogers Shelving, ...|   122.4|       2|       0|  37.92|                122.4|
|     7|ES-2017-1311038|07/02/2017|11/02/2017|Standard Class|   AS-10045|  Aaron Smayling|  Corporate|        Leeds|             England|United Kingdom|  North|TEC-PH-10003963|     Technology|      Phones|Apple Signal Boos...|  413.82|       3|       0|  20.61|               413.82|
|     8|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|TEC-CO-10004325|     Technology|     Copiers|Canon Personal Co...|  428.22|       3|       0| 192.69|               428.22|
|     9|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-AP-10004512|Office Supplies|  Appliances|   Hoover Stove, Red| 3979.29|       7|       0|1989.54|              3979.29|
|    10|ES-2015-5113958|02/08/2015|07/08/2015|  Second Class|   EB-13840|   Ellis Ballard|  Corporate|West Bromwich|             England|United Kingdom|  North|OFF-FA-10002393|Office Supplies|   Fasteners|Accos Push Pins, ...|   43.56|       3|       0|   12.6|                43.56|
|    11|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-LA-10002805|Office Supplies|      Labels|Hon Color Coded L...|   25.26|       2|       0|   0.48|                25.26|
|    12|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AP-10002330|Office Supplies|  Appliances|Hamilton Beach St...|2443.905|       5|     0.1|760.305|   2715.4500000000003|
|    13|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-AR-10000505|Office Supplies|         Art|Binney & Smith Pe...|   12.21|       1|       0|      0|                12.21|
|    14|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|TEC-PH-10002898|     Technology|      Phones|Samsung Smart Pho...|2167.296|       4|    0.15|790.416|   2549.7599999999998|
|    15|ES-2015-2510515|20/06/2015|20/06/2015|      Same Day|   LH-17155|Logan Haushalter|   Consumer|   Le Bouscat|Aquitaine-Limousi...|        France|Central|OFF-ST-10001413|Office Supplies|     Storage|Rogers Folders, Blue| 138.105|       5|     0.1|-12.345|               153.45|
|    16|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-ST-10003931|Office Supplies|     Storage|Smead Trays, Wire...| 128.385|       3|     0.1|  4.275|   142.64999999999998|
|    17|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|TEC-AC-10004269|     Technology| Accessories|Belkin Memory Car...|  690.12|       6|       0|      0|               690.12|
|    18|ES-2016-4380115|16/02/2016|20/02/2016|Standard Class|   KC-16540| Kelly Collister|   Consumer|   Strasbourg|Alsace-Champagne-...|        France|Central|OFF-LA-10001676|Office Supplies|      Labels|Hon Removable Lab...|    8.16|       1|       0|   1.14|                 8.16|
|    19|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|TEC-MA-10000811|     Technology|    Machines|Okidata Phone, Du...|  347.88|       4|       0|  76.44|               347.88|
|    20|ES-2017-2573330|03/11/2017|08/11/2017|Standard Class|   BF-11170|      Ben Ferrer|Home Office|         Unna|North Rhine-Westp...|       Germany|Central|OFF-ST-10000648|Office Supplies|     Storage|Eldon File Cart, ...| 575.505|       5|     0.1| 12.705|    639.4499999999999|
+------+---------------+----------+----------+--------------+-----------+----------------+-----------+-------------+--------------------+--------------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+-------+---------------------+
only showing top 20 rows

In [19]:
# calculate the difference between sales and discount value
df = df.withColumn("Amount of discount",df['Orginal Value of Sale'] - df['Sales'])
df.select("Sales","Amount of discount").show()

+--------+------------------+
|   Sales|Amount of discount|
+--------+------------------+
|    79.2|               0.0|
|  388.92|               0.0|
|   35.19|               0.0|
|   50.94|               0.0|
|  307.44|               0.0|
|   122.4|               0.0|
|  413.82|               0.0|
|  428.22|               0.0|
| 3979.29|               0.0|
|   43.56|               0.0|
|   25.26|               0.0|
|2443.905| 271.5450000000001|
|   12.21|               0.0|
|2167.296|382.46399999999994|
| 138.105|15.344999999999999|
| 128.385|14.264999999999986|
|  690.12|               0.0|
|    8.16|               0.0|
|  347.88|               0.0|
| 575.505|63.944999999999936|
+--------+------------------+
only showing top 20 rows

In [20]:
# how much money did we not gain due to the discounts - per discount bracket?
count_of_gain = df.groupBy("Discount").agg({'Amount of discount': 'sum'})
count_of_gain.show()

+--------+-----------------------+
|Discount|sum(Amount of discount)|
+--------+-----------------------+
|     0.3|     2630.2410000000004|
|     0.7|               8534.085|
|       0|                    0.0|
|     0.2|     10653.119999999997|
|    0.15|      45233.17650000002|
|    0.35|     29163.099000000002|
|     0.8|      635.6640000000002|
|    0.45|     2083.4414999999995|
|     0.5|     183734.26500000045|
|    0.65|     12219.655499999999|
|     0.6|      39644.04599999997|
|     0.1|      84712.44899999995|
|    0.85|               4515.438|
|     0.4|      46724.68800000002|
+--------+-----------------------+

In [21]:
# find the discount bracket which made us not gain the most (dynamically)
# (0.5) discount rate 
count_of_gain = df.groupBy("Discount").agg({'Amount of discount': 'sum'}).orderBy("sum(Amount of discount)",ascending =False)
count_of_gain.show()

+--------+-----------------------+
|Discount|sum(Amount of discount)|
+--------+-----------------------+
|     0.5|     183734.26500000045|
|     0.1|      84712.44899999995|
|     0.4|      46724.68800000002|
|    0.15|      45233.17650000002|
|     0.6|      39644.04599999997|
|    0.35|     29163.099000000002|
|    0.65|     12219.655499999999|
|     0.2|     10653.119999999997|
|     0.7|               8534.085|
|    0.85|               4515.438|
|     0.3|     2630.2410000000004|
|    0.45|     2083.4414999999995|
|     0.8|      635.6640000000002|
|       0|                    0.0|
+--------+-----------------------+

In [22]:
# what would have been the total profit if we removed all orders from that discount group? 
df.select(sum("Profit")+sum("Amount of discount")).show()

+---------------------------------------+
|(sum(Profit) + sum(Amount of discount))|
+---------------------------------------+
|                      843313.1100000013|
+---------------------------------------+

In [23]:
#how much more (or less) profit is that?
## More profit (470483.3685)
df.select((sum("Profit")+sum("Amount of discount"))-sum("Profit")).show()

+-------------------------------------------------------+
|((sum(Profit) + sum(Amount of discount)) - sum(Profit))|
+-------------------------------------------------------+
|                                     470483.36850000074|
+-------------------------------------------------------+

In [24]:
# create a temporary table for our superstore table in sql
df.createOrReplaceTempView("superstore")

In [26]:
# use an SQL query to count the number of rows
spark.sql("SELECT COUNT(*) FROM superstore").show()

+--------+
|count(1)|
+--------+
|   10000|
+--------+

In [27]:
# Use an SQL query to calculate the profit ratio for each country: hint, ratio is sum(profit)/sum(sales)
spark.sql("SELECT Country , SUM(Profit)/SUM(Sales) AS profit_ratio FROM superstore GROUP BY Country").show()

+--------------+--------------------+
|       Country|        profit_ratio|
+--------------+--------------------+
|        Sweden| -0.5745674280714466|
|       Germany| 0.17066792076621765|
|        France| 0.12693568221933804|
|       Belgium| 0.23508766583987942|
|       Finland| 0.18864296633316185|
|         Italy| 0.06844355185424991|
|        Norway|  0.2517747548521659|
|         Spain| 0.18941580658358978|
|       Denmark| -0.4957190005664471|
|       Ireland|-0.44426677493909256|
|   Switzerland|  0.2909201193350232|
|      Portugal| -0.5761662270806188|
|       Austria|  0.2641908775042505|
|United Kingdom| 0.21170103540397134|
|   Netherlands| -0.5298342790541865|
+--------------+--------------------+

In [28]:
# is the country with the largest profit ratio, the country with the largest profit?
# No , The largest profit ratio is (Switzerland) BUT The largest profit (United Kingdom)

spark.sql("SELECT Country, SUM(Profit) , SUM(Profit)/SUM(Sales) AS profit_ratio FROM superstore GROUP BY Country ORDER BY SUM(Profit) DESC ").show()

+--------------+-------------------+--------------------+
|       Country|        sum(Profit)|        profit_ratio|
+--------------+-------------------+--------------------+
|United Kingdom| 111900.15000000001| 0.21170103540397134|
|        France| 109029.00299999975| 0.12693568221933804|
|       Germany| 107322.82049999991| 0.17066792076621765|
|         Spain|  54390.11999999999| 0.18941580658358978|
|       Austria|           21442.26|  0.2641908775042505|
|         Italy| 19828.757999999965| 0.06844355185424991|
|       Belgium|           11572.59| 0.23508766583987942|
|   Switzerland|  7237.470000000001|  0.2909201193350232|
|        Norway|            5167.77|  0.2517747548521659|
|       Finland|            3905.73| 0.18864296633316185|
|       Denmark|-4282.0470000000005| -0.4957190005664471|
|       Ireland| -7392.381000000003|-0.44426677493909256|
|      Portugal| -8703.059999999998| -0.5761662270806188|
|        Sweden|-17519.366999999987| -0.5745674280714466|
|   Netherlands| -41070.07499999996| -0.5298342790541865|
+--------------+-------------------+--------------------+